{{template "base" .}}

{{define "content"}}
    <h1>About Page</h1>
    <p>This came from template: {{index .StringMap "test"}}</p>
    <p>
        {{if ne (index .StringMap "remote_ip") ""}}
            Your remote IP address is {{index .StringMap "remote_ip"}}
        {{else}}
            I don't know your ip address yet, so visit <a href="/">Here</a>
        {{end}}
    </p>
{{end}}